<!-- IS USER AUTHENTICATED -->
<div *ngIf="!isUserConfigured(); then unknownUserBlock else knownUserBlock"></div>


<!--The login block for unauthenticated users-->
<ng-template #unknownUserBlock>
  <ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title float-left>Home</ion-title>
      <ion-icon float-right name="{{is_network_connected ? 'cloud' : 'thunderstorm'}}"></ion-icon>
    </ion-navbar>
  </ion-header>

  <ion-content class="logged-out">
    <div class="header loginBlock" margin-top text-center>
      <img src="assets/image/logo-traccia.png" class="logo-trace" width="228" height="128"/>
    </div>
    <ion-grid margin-top>
      <ion-row>
        <ion-col>
          <ion-label color="darkest">
            Per iniziare ad usare l'applicazione completa la configurazione.
          </ion-label>
          <button ion-button large margin-top color="yellow-light" (click)="goToConfigurationPage()">
            Configura
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <code>{{userService.last_error}}</code>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-template>

<!--The block to use to show current status-->
<ng-template #knownUserBlock>
  <ion-header>
    <div class="custom-background" [ngClass]="{'paused': isUserHavingABreak()}">
      <ion-navbar padding-right>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title float-left>Home</ion-title>
        <ion-icon float-right name="{{is_network_connected ? 'cloud' : 'thunderstorm'}}"></ion-icon>
        <ion-label float-right>{{userService.getUserData("first_name") ||
          userService.getUserData("name")}}
        </ion-label>
      </ion-navbar>

      <ion-grid padding class="header-content">
        <!-- ----------------------------------------------------------------------------------CHECKED IN AND ACTIVE -->
        <ion-row *ngIf="isUserCheckedIn() && !isUserHavingABreak()">
          <ion-col class="message" col-10>
            <p>Stai lavorando da</p>
            <h3>
              <ion-label color="lightest">
                {{shiftTotalDuration}}
              </ion-label>
            </h3>
          </ion-col>
          <ion-col class="buttons" col-2>
            <ion-fab top right class="qr-scan-fab">
              <button ion-fab color="yellow-light" (tap)="scanQRCode(['CHK', 'OUT'])">
                <ion-icon ios="md-qr-scanner" md="md-qr-scanner"></ion-icon>
              </button>
            </ion-fab>

            <ion-fab top right class="qr-scan-fab exit" *ngIf="!isMobileDevice()">
              <button ion-fab mini color="danger" (tap)="scanQRCode(['OUT'])">
                <ion-icon ios="md-qr-scanner" md="md-qr-scanner"></ion-icon>
              </button>
            </ion-fab>
          </ion-col>
        </ion-row>

        <!-- ----------------------------------------------------------------------------------CHECKED IN AND PAUSED -->
        <ion-row *ngIf="isUserCheckedIn() && isUserHavingABreak()">
          <ion-col class="message" col-10>
            <p>Sei in pausa da</p>
            <h3>
              <ion-label color="lightest">
                {{currentOperationDuration}}
              </ion-label>
            </h3>
          </ion-col>

          <ion-col class="buttons" col-2>
            <ion-fab top right class="qr-scan-fab">
              <button ion-fab color="yellow-light" (tap)="scanQRCode(['CHK', 'OUT'])">
                <ion-icon ios="md-qr-scanner" md="md-qr-scanner"></ion-icon>
              </button>
            </ion-fab>

            <ion-fab top right class="qr-scan-fab exit" *ngIf="!isMobileDevice()">
              <button ion-fab mini color="danger" (tap)="scanQRCode(['OUT'])">
                <ion-icon ios="md-qr-scanner" md="md-qr-scanner"></ion-icon>
              </button>
            </ion-fab>
          </ion-col>
        </ion-row>

        <!-- ------------------------------------------------------------------------------------CHECKED OUT - START -->
        <ion-row *ngIf="!isUserCheckedIn() && !presentLogoutScreen">
          <ion-col>
            <h1>
              <ion-label color="lightest">Ciao {{userService.getUserData("first_name") ||
                userService.getUserData("name")}}!
              </ion-label>
            </h1>
            <p>Bentornato!</p>
          </ion-col>
          <ion-col class="buttons" col-2>
            <ion-fab top right class="qr-scan-fab">
              <button ion-fab color="yellow-light" (tap)="scanQRCode(['IN'])">
                <ion-icon ios="md-qr-scanner" md="md-qr-scanner"></ion-icon>
              </button>
            </ion-fab>
          </ion-col>
        </ion-row>

        <!-- ---------------------------------------------------------------------------------CHECKED OUT - FINISHED -->
        <ion-row *ngIf="!isUserCheckedIn() && presentLogoutScreen">
          <ion-col>

            <ion-grid text-center>
              <ion-row>
                <ion-col>
                  <div class="user-avatar-wrapper">
                    <img [src]="userService.getUserData('avatar_uri')">
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h1>Arrivederci {{userService.getUserData("first_name") ||
                    userService.getUserData("name")}}</h1>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-label color="darkest">Hai segnalato la tua uscita.</ion-label>
                  <!--<ion-label>Oggi {{getTodaysDate("D MMMM")}} hai lavorato<br/>{{shiftTotalDuration}}</ion-label>-->
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </ion-header>

  <ion-content class="logged-in checked--in--out">
    <div *ngIf="isUserCheckedIn(); then checkedIn else checkedOut"></div>
  </ion-content>

  <ion-footer>
    <ion-grid padding-left padding-right>
      <ion-row>
        <ion-col text-left>
          <div *ngIf="isUserCheckedIn() && !isUserHavingABreak()">
            <ion-label class="button" float-left padding-right (tap)="registerNewTask()">
              <ion-icon name="text"></ion-icon>
              Segnala
            </ion-label>
            <ion-label class="button" float-left padding-right (tap)="activatePause()">
              <ion-icon name="pause"></ion-icon>
              Pausa
            </ion-label>

            <!--<button *ngIf="userService.isTrustedUser()" ion-button icon-left float-right (click)="fakeNetworkStateChange(true)" color="dark">-->
              <!--<ion-icon name="play"></ion-icon>-->
              <!--<ion-label>NET-ON</ion-label>-->
            <!--</button>-->
            <!--<button *ngIf="userService.isTrustedUser()" ion-button icon-left float-right (click)="fakeNetworkStateChange(false)" color="dark">-->
              <!--<ion-icon name="square"></ion-icon>-->
              <!--<ion-label>NET-OFF</ion-label>-->
            <!--</button>-->

          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ng-template>



<!-- The block for checked IN user -->
<ng-template #checkedIn>
  <div *ngIf="isUserHavingABreak(); then checkedInPaused else checkedInActive"></div>
</ng-template>

<!-- checked-in + having a break  -->
<ng-template #checkedInPaused>


  <div class="main">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p>
            Per ricominciare il lavoro <strong>scansiona il QRcode</strong> dell'ambiente da pulire.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-template>

<!-- checked-in + active  -->
<ng-template #checkedInActive>

  <div class="main">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5>Scansiona il <strong>QRcode dell'ambiente</strong> da pulire</h5>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid class="checkin_list">

      <ion-row *ngFor="let checkin of remoteDataService.getCurrentSessionCheckins()" ngClass="{{checkin.css_class}}">
        <ion-col col-9>
          <div (click)="modifyCheckin(checkin)">
            <ion-icon [name]="checkin.icon" item-left></ion-icon>
            <!--[{{checkin.sync_state}}] -&#45;&#45; {{checkin.name}} ({{checkin.getFormattedDuration()}}) - <small>[{{checkin._id}}]-[{{checkin.id}}]</small>-->
            [{{checkin.code}}] - {{checkin.name}} ({{checkin.getFormattedDuration()}})
            <span *ngIf="checkin.hasChecklistValues()">
              <ion-icon name="checkmark-circle" *ngIf="checkin.hasChecklistValues()"></ion-icon>
              {{checkin.getChecklistValueCount()}}
            </span>
          </div>
        </ion-col>
        <ion-col col-3 text-right="">
          <div>
            {{checkin.getDatePropertyValue('checkin_date', 'H:mm')}}
            <ion-icon [name]="checkin.sync_state == 'in-sync' ? 'cloud-done' : 'sync'" item-right></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ng-template>


<!-- The block for checked OUT user -->
<ng-template #checkedOut>
  <div *ngIf="presentLogoutScreen; then checkedOutEndOfSessionScreen else checkedOutStartScreen"></div>
</ng-template>


<!-- The block for checked OUT user -->
<ng-template #checkedOutStartScreen>
  <div class="main">
    <ion-grid padding>
      <ion-row>
        <ion-col>
          <p>Scansiona il <strong>QRcode d'ingresso</strong> per iniziare la tua giornata lavorativa.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ng-template>


<!-- The block for checked OUT user - End of session screen -->
<ng-template #checkedOutEndOfSessionScreen>
  <!--nothing-->
</ng-template>




