@import "../../theme/variables";

page-home-task-view {

  ion-header
  {
  }

  ion-content
  {

    .task{
      padding:10px;

      .line{
        display:block;
        width:100%;
        clear:both;
      }

      .author{
        .user-avatar-wrapper{
          float:left;
          &.small{
            width:40px;
            height:40px;
          }
        }
        .name{
          float:left;
          margin: 17px 0 0 10px;
          font-size: 1.5rem;
        }
      }

      .title{
        font-size: 2.5rem;
        padding-left:5px;
        color: map_get($colors, darkest);
      }

      .description{
        padding: 10px 5px;
        font-size: 1.3rem;
        color: map_get($colors, dark);
      }

      .where-when{
        padding-left: 5px;
        font-size: 1.3rem;
        .where
        {
          float:left;
          color: map_get($colors, green-dark);
          .icon{
            line-height:20px;
          }
          .code-name{
            line-height:20px;
            display:inline-block;
            vertical-align: bottom;
          }
        }
        .when
        {
          line-height:20px;
          display:inline-block;
          vertical-align: bottom;
          color: map_get($colors, dark);
        }
        ion-icon.alert
        {
          margin-left:5px;
          line-height:20px;
          font-size:18px;
        }
      }
    }
  }

  ion-footer{
    background: color($app-colors, app-bg);
  }
}
