page-home {
  ion-content.content {
    background: color($colors, lightest);
    text-align: center;
    ion-grid.grid {
      width: 95%;
    }

    .header {
      background: color($app-colors, app-bg);
      text-align: left;

      ion-fab.qr-scan-fab {
        top: 76px;
        right: 38px;
      }

      ion-fab.qr-scan-fab.exit {
        top: 76px;
        right: 88px;
      }
    }

    .main {
      background: color($colors, lightest);
      text-align: left;

      ion-grid.checkin_list {
        ion-row {
          padding:5px;
        }
        ion-row.first {
          background: color($colors, green-light);
        }
      }
    }
  }
}
