@import "../../theme/variables";

page-home {
  ion-header
  {
    .toolbar-background
    {
      &.toolbar-background-md
      {
        background: none;
      }
      background: none;
    }
    .custom-background{
      background: color($app-colors, app-bg);
      &.paused{
        background: color($colors, violet-light);
      }
    }

    ion-grid.header-content
    {
      ion-row
      {
        ion-col.message
        {

        }
        ion-col.buttons
        {
          ion-fab.qr-scan-fab {
            top: 85px;
            right: 25px;
            &.exit{
              right: 85px;
            }
          }
        }
      }
    }
  }

  ion-content.content {
    &.logged-in{
      background: color($colors, lightest);
    }
    &.logged-out{

    }
    //background: color($colors, lightest);
    text-align: center;
    ion-grid.grid {
      width: 95%;
    }

    .header {
      background: color($app-colors, app-bg);
      text-align: left;


      &.loginBlock{
        color: color($colors, lightest);
        ion-img.logo-trace
        {
          background-color: color($app-colors, app-bg);
        }
      }

      &.logoutBlock{
        color: color($colors, lightest);
        min-height: 100%;
      }
    }

    .main {
      background: color($colors, lightest);
      text-align: left;

      ion-grid.checkin_list {
        ion-row {
          padding:5px;
        }
        ion-row.first {
          background: color($colors, green-light);
        }
      }
    }

  }
}
