<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-label float-left="">Home</ion-label>
    <ion-label float-right>{{getUserData("full_name")}}</ion-label>
    <ion-icon float-right name="{{isConnected() ? 'cloud' : 'thunderstorm'}}"></ion-icon>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="isUserAuthenticated(); then authenticatedBlock else unknownUserBlock"></div>
</ion-content>

<!--The login block for unauthenticated users-->
<ng-template #unknownUserBlock>
  <div>
    <h1>Traccia GSI</h1>
    <page-login></page-login>
  </div>
</ng-template>

<!--The block to use to show current status-->
<ng-template #authenticatedBlock>
  <div *ngIf="isUserCheckedIn(); then checkedIn else checkedOut"></div>
</ng-template>

<!-- The block for checked OUT user -->
<ng-template #checkedOut>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>
          <ion-label color="lightest">Ciao {{getUserData("first_name")}}!</ion-label>
        </h3>
        <p>Scansiona il <strong>QRcode d'ingresso</strong> per iniziare la tua giornata lavorativa.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <pre>{{lastScannedBarcode}}</pre>
        <button ion-button (click)="scanQRCode('IN')">SCAN</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>


<!-- The block for checked IN user -->
<ng-template #checkedIn>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>
          <ion-label color="lightest">Ciao {{getUserData("first_name")}}!</ion-label>
        </h3>
        <p>Stai lavorando da 12 ore ;)</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <pre>{{lastScannedBarcode}}</pre>
        <button ion-button (click)="scanQRCode('CHK')">SCAN</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>







