@import "../../../theme/variables";

page-home-checkinlist {

  ion-header {
    ion-grid.header-content {
      ion-row {
        ion-col.message {

        }
      }
      .buttons {
        ion-fab.qr-scan-fab {
          bottom: -25px;
          right: 25px;
          &.exit {
            right: 85px;
          }
        }
      }
    }
  }

  ion-content {
  /**/
  }

  ion-footer{
    /**/
  }
}
