// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #2b998e,
  secondary: #7ecce5,
  danger: #f53d3d,
  light: #797978,
  dark: #3c3c3b,
  muted: #9d9c9c,
  darkest: #222222,
  lightest: #ffffff,
  green-light: #05beac,
  green-dark: #2b998e,
  blue-light: #7ecce5,
  yellow-light: #efd04d,
  violet-light: #99abff
);

// Ideally, we should use app-colors all around the application
$app-colors: (
  app-bg: color($colors, green-light),
  menu-bg: color($colors, green-light),
  header-bg: color($colors, green-light),
  content-color: color($colors, darkest),

);


// Variable overrides
// --------------------------------------------------
$font-size-base: 1.8rem;
$toolbar-background: color($app-colors, header-bg);
//$toolbar-md-title-font-size: 1.4rem;
//$toolbar-md-height: 32px;
//
//$list-background-color: color($colors, green-light);
//
//$item-md-divider-background: #ff00ff;
//$item-md-divider-color: #ff00ff;
//
//$text-input-highlight-color-valid: color($colors, green-dark);
//$text-input-highlight-color-invalid: color($colors, danger);
//
//
//$label-md-text-color: color($colors, lightest);
//$label-md-text-color-focused: color($colors, lightest);




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
