@import "theme/variables";

page-configuration-syncstate {
  ion-content.content{
    background: color($colors, lightest);

    .titlebar{
      &.reset-request
      {
        background: color($colors, danger);
        color: color($colors, lightest);
        .sync-state{
          ion-icon
          {
            background: color($colors, dark);
          }
        }
      }
    }

    h1.tab-title{
      text-align: center;
      font-size: 2.2rem;
      /*background: color($colors, darkest);*/
      /*color: color($colors, yellow-light);*/
      margin:0;
      padding:10px 0;
    }

    table.table
    {
      width:100%;
      border: 1px solid #dee2e6;
      max-width: 100%;
      margin-bottom: 1rem;
      background-color: transparent;
      th
      {
        background-color: color($colors, green-light);
      }
      td,th
      {
        border: 1px solid #dee2e6;
        padding:3px;
        text-align: center;
        &.left{
          text-align: left;
        }
        &.right{
          text-align: left;
        }
        &.numeric{
          width:10%;
        }
      }
  }

    ion-list-header{
      border-top:none;
      font-size: 1.8rem;
      background: color($colors, green-light);
      color: color($colors, text-color);
    }

    .sync-state{
      ion-icon{
        font-size: 6rem;
        color: color($colors, dark);
        padding:10px;
        &.happy{
          color: color($colors, green-dark);
        }
        &.sad{
          color: color($colors, danger);
        }
      }
    }

    ion-label.loading
    {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
