@import "theme/variables";

page-configuration-syncstate {
  ion-content.content{
    background: color($colors, lightest);

    h1.tab-title{
      text-align: center;
      font-size: 2.2rem;
      /*background: color($colors, darkest);*/
      /*color: color($colors, yellow-light);*/
      margin:0;
      padding:10px 0;
    }

    ion-list-header{
      border-top:none;
      font-size: 1.8rem;
      background: color($colors, green-light);
      color: color($colors, text-color);
    }

    ion-item.sync-state{
      ion-icon{
        font-size: 6rem;
        color: color($colors, green-dark);
        &.happy{
          color: color($colors, green-dark);
        }
        &.sad{
          color: color($colors, danger);
        }
      }
    }

    ion-label.loading
    {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
