<ion-content>
  <button ion-button icon-left (click)="openNewTaskPage()" color="yellow-light">
    <ion-icon name="star"></ion-icon>
    <ion-label>Crea segnalazione</ion-label>
  </button>

  <ion-grid>
    <ion-row *ngFor="let task of tasks" text-left class="taskrow">

      <div class="line author">
        <div class="user-avatar-wrapper small" text-left>
          <img src="http://gsi.crm.mekit.it/index.php?entryPoint=download&id={{task.created_by}}_photo&type=Users">
        </div>
        <div class="name">
          {{task.created_by_name}}
        </div>
      </div>

      <div class="line title">
        {{task.name}}
      </div>

      <div class="line description">
        {{task.description}}
      </div>

      <div class="line where-when">
        <div class="where" *ngIf="task.check_point;">
          <ion-icon name="pin" title="Locale" item-left></ion-icon>
          <div class="code-name">
            {{task.check_point.code}}&nbsp;{{task.check_point.name}}&nbsp;-&nbsp;
          </div>
        </div>
        <div class="when">
          {{task.date_start}}
        </div>
        <ion-icon [name]="task.icon" [color]="task.icon_color" title="{{task.priority}}" class="alert" item-left></ion-icon>
      </div>

    </ion-row>
  </ion-grid>
</ion-content>
