page-tasks-in
{
  ion-content.content
  {
    table.tasks
    {
      width: 100%;
      font-size: 75%;
      font-weight: normal;
      tr{
        border: 1px solid #ababab;
      }
      th{
        background:  color($colors, lightest);
        color: color($colors, dark);
        border: 1px solid #ababab;
        padding: 2px 5px;
      }
      td{
        background:  color($colors, dark);
        color: color($colors, lightest);
        border: 1px solid #ababab;
        padding: 2px 5px;
        max-width: 50%;
        white-space: nowrap;
        &.canwrap{
          white-space: normal;
        }
      }
    }
  }
}

