<ion-content *ngIf="viewIsReady">

  <h1 class="tab-title">
    Stato sincronizzazione dati
  </h1>

  <ion-list>

    <ion-item class="sync-state" text-center align-items-center>
      <ion-icon *ngIf="is_in_sync" name="happy" class="happy"></ion-icon>
      <ion-icon *ngIf="!is_in_sync" name="sad" class="sad"></ion-icon>
    </ion-item>


    <ion-list-header>Locali</ion-list-header>

    <ion-item>
      <ion-icon item-start name="cloud"></ion-icon>
      Elementi sul server
      <ion-badge item-end>{{counts.checkpoints.server}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="phone-portrait"></ion-icon>
      Elementi sul device
      <ion-badge item-end>{{counts.checkpoints.device}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="flash"></ion-icon>
      Da sincronizzare[su/giù]
      <ion-badge item-end color="yellow-light">{{counts.checkpoints.unsynced_up}}</ion-badge>
      <ion-badge item-end color="violet-light">{{counts.checkpoints.unsynced_down}}</ion-badge>
    </ion-item>


    <ion-list-header>Tracce</ion-list-header>

    <ion-item>
      <ion-icon item-start name="cloud"></ion-icon>
      Elementi sul server
      <ion-badge item-end>{{counts.checkins.server}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="phone-portrait"></ion-icon>
      Elementi sul device
      <ion-badge item-end>{{counts.checkins.device}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="flash"></ion-icon>
      Da sincronizzare[su/giù]
      <ion-badge item-end color="yellow-light">{{counts.checkins.unsynced_up}}</ion-badge>
      <ion-badge item-end color="violet-light">{{counts.checkins.unsynced_down}}</ion-badge>
    </ion-item>

  </ion-list>

  <!--<div class="buttons cache-clean-buttons" text-center align-items-center>-->
    <!--<hr />-->
    <!--<button ion-button icon-left (click)="quickSync()" color="dark">-->
      <!--<ion-icon name="refresh-circle"></ion-icon>-->
      <!--<ion-label>Forza sincronizzazione</ion-label>-->
    <!--</button>-->
  <!--</div>-->

</ion-content>

<ion-content *ngIf="!viewIsReady">
  <ion-label class="loading">caricamento in corso...</ion-label>
</ion-content>
