<ion-content *ngIf="viewIsReady">

  <h1 class="tab-title">
    Stato sincronizzazione
  </h1>

  <ion-list>

    <ion-item class="sync-state" text-center align-items-center>
      <ion-icon *ngIf="is_in_sync" name="happy" class="happy"></ion-icon>
      <ion-icon *ngIf="!is_in_sync" name="sad" class="sad"></ion-icon>
    </ion-item>

    <!--ADMIN ONLY-->
    <div class="buttons cache-clean-buttons" text-center align-items-center *ngIf="userService.isTrustedUser()">
      <button ion-button icon-left (click)="doSomething()" color="dark">
        <ion-icon name="refresh-circle"></ion-icon>
        <ion-label>Sync one step</ion-label>
      </button>

      <button ion-button icon-left (click)="killAllData()" color="danger">
        <ion-icon name="ice-cream"></ion-icon>
        <ion-label>Kill all data</ion-label>
      </button>

      <button ion-button icon-left (click)="backgroundService.start()" color="light">
        <ion-icon name="clock"></ion-icon>
        <ion-label>Start Timer</ion-label>
      </button>
      <button ion-button icon-left (click)="backgroundService.stop()" color="light">
        <ion-icon name="hand"></ion-icon>
        <ion-label>Stop Timer</ion-label>
      </button>
    </div>
    <!--ADMIN ONLY-->

    <ion-list-header>Locali</ion-list-header>

    <ion-item>
      <ion-icon item-start name="cloud"></ion-icon>
      Elementi sul server
      <ion-badge item-end>{{counts.checkpoints.server}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="phone-portrait"></ion-icon>
      Elementi sul device
      <ion-badge item-end>{{counts.checkpoints.device}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="flash"></ion-icon>
      Da sincronizzare[su/giù]
      <ion-badge item-end color="yellow-light">{{counts.checkpoints.unsynced_up}}</ion-badge>
      <ion-badge item-end color="violet-light">{{counts.checkpoints.unsynced_down}}</ion-badge>
    </ion-item>


    <ion-list-header>Tracce</ion-list-header>

    <ion-item>
      <ion-icon item-start name="cloud"></ion-icon>
      Elementi sul server
      <ion-badge item-end>{{counts.checkins.server}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="phone-portrait"></ion-icon>
      Elementi sul device
      <ion-badge item-end>{{counts.checkins.device}}</ion-badge>
    </ion-item>

    <ion-item>
      <ion-icon item-start name="flash"></ion-icon>
      Da sincronizzare[su/giù]
      <ion-badge item-end color="yellow-light">{{counts.checkins.unsynced_up}}</ion-badge>
      <ion-badge item-end color="violet-light">{{counts.checkins.unsynced_down}}</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>

<ion-content *ngIf="!viewIsReady">
  <ion-label class="loading">caricamento in corso...</ion-label>
</ion-content>
